* {
  font-family: "微軟正黑體", "Courier New", Courier, monospace !important;
}

.btn-large {
  font-size: 5vh;
  padding: 0.5vh 0;
  width: 15.5vw;
  height: 9vh;
}

#startBlock .card-content {
  height: 70vh;
  padding-top: 15vh;
}

#color-question {
  font-size: 10rem;
}

.calc-question {
  font-size: 4.2rem;
}

.card-panel {
  padding: 0px;
}
